.container2 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin: 2;
  /* background-color: white; */
}

.trackname {
  color: rgb(183, 231, 52);
}

img {
  align-self: center;
  margin-top: 10px;
  /* margin-left: 10%; */
}
.tracks {
  background-image: url("https://images.unsplash.com/photo-1579546929662-711aa81148cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80");
  width: 40%;
  display: flex;
  flex-direction: column;
  /* position: relative; */
  /* margin-right: 1-%; */
  justify-content: center;
  align-items: center;
  align-self: center;
  border-inline-width: 5px;
  border-style: solid;
  border-color: pink;
}

h3 {
  color: rgb(219, 20, 80);
  margin-left: 3;
}

h4 {
  color: rgb(233, 17, 17);
  background-color: greenyellow;
  padding: 2px;
  font-weight: bold;
}
